<div class="container">
  <h1>Book Me Today</h1>
  <div class="row times">
    <div class="col-xs-4 text-center" ng-repeat='day in days'>
      <h2>{{day.name}}</h2>
      <div class="time-slot" ng-repeat='slot in day.slots'>
        <button ng-click='open = !open'>Book</button>
        <form action="" ng-show='open' >
          <input type="Name" placeholder='Name' required ng-model='slot.name'>
          <input type="phoneNumber" placeholder='Phone Number' required ng-model='slot.phoneNumber'>
          <input type="checkbox" ng-model='slot.booked'>
        </form>
        <label for="day.name">{{slot.time}}
          <span ng-if='slot.booked'>Booked</span>
          <span ng-if='!slot.booked'>Available</span>
        </label>
      </div>
    </div>
  </div>
</div>
