<div class="container">
  <h1>Book Me</h1>
  <div class="row times col-xs-4" ng-repeat='day in days'>
    <h2>{{day.name}}</h2>
    <div class="time-slot" ng-repeat='slot in day.slots'>
      <input type="checkbox" id={{day.name}} ng-model='slot.booked'>
      <label for="{{day.name}}">{{slot.time}}
      <span ng-if='!slot.booked'>Available</span>
      <form action="" ng-if='slot.booked'>

        <input type="name" placeholder='Name' ng-model='user.name' required>

        <input type="phoneNumber" placeholder='Phone Number' ng-model='user.phoneNumber' required>

        <input type="email" placeholder='Email' ng-model='user.email'>
        <button ng-click='booked(day.name, slot.time, user)'>Submit</button>

      </form>

      </label>
    </div>
  </div>
  <p class='text-center'><a href="#" ng-click='reset()' class='btn btn-primary'>Reset</a></p>
</div>
